product-container article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image img {
    width: 300px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background: #fff;
    transition: box-shadow 0.3s ease;
}

p .title {
    font-size: 15px;
}

p .price {
    font-size: 10px;
    font-weight: bold;
    color: #333;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.price {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 100%;
}

.title a {
    text-decoration: none;
    color: #333;
}
.btn {
    /* background: rgba(1, 91, 188, 0.85);  */
    background: rgba(255, 255, 255, 0.394);
    backdrop-filter: blur(8px); /* glass effect */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s ease;
 }
 
 .btn:hover {
    background: rgba(244, 244, 244, 0.9);
 }
 

.buttons {
    opacity: 0;
    display: flex; /* Avoids reflow */
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.35s ease-in-out;
    pointer-events: none; /* Avoids the buttons to block the hover */
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px); /* glass effect */
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.product-image {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.product-image:hover .buttons {
    opacity: 1; /* Make the buttons visible again */
    pointer-events: all; /* Allows the user to interact with the buttons  */
}

.product-image:hover {
    box-shadow: var(--main-box-shadow);
    filter: brightness(0.92); 
    transition: filter 0.3s ease-in-out;
}
