* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  
  section {
    display: -webkit-flex;
    display: flex;
  }

  .product-data
  
  nav {
    -webkit-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;
    background: #ccc;
    padding: 20px;
  }
   
   nav ul {
    list-style-type: none;
    padding: 0;
    cursor: pointer; 
   }
   
   nav ul li {
    padding-bottom: 5px;
   }
   
   nav ul li:hover {
    color: blue;
   }
   
  .product-info-description {
    grid-column: 1 / span 3;
  }
  
   .category-product-title {
    grid-column: 1 / span 3;
    color: darkslategray;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 10px;
  }
  
  .category-product-image-container {
    padding: 10px;
    width: 60%;
  }
  
  .category-product-detail-image-container img{
    width: 300px;
    height: 300px;
  }
  
  .category-product-info-header {
    display: flex;
  }
  
  .category-product-finance-price {
    color: darkslategray;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 10px;
  }
  
  .category-product-info-dimensions h3,
  .category-product-info-features h3,
  .category-product-info-capacity h3 {
    color: darkslategray;
    font-size: 1em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  
  .category-product-info-features li {
    padding-top: 5px;
  }
  
  .category-product-info-stock {
    padding-left: 10px;
    margin-top: 20px;
    padding-top: 10px;
    background-color: lightgrey;
    height: 28%;
    width: 60%;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
  
  .category-product-info-stock label {
    padding-bottom: 5px;
  }
  
   .category-product-action {
    display: flex;
    flex-direction: column;
   }
  
   .category-product-action button {
    width: 160px;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: lightgray;
    border: solid 1px slategrey;
    font-weight: bold;
  }
  
   .category-product-action button:last-child {
    background-color: darkgray;
   }
  
   /* Responsive layout makes the content stay in top of each other instead of next to them */
   @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
   }