.products-title{
    justify-content: center;
    display: grid;
}

:root {
    --main-bg-color: #f8f9fa;
    --main-text-color: #333;
    --main-link-color: #007bff;
    --main-link-hover-color: #fff;
    --main-link-hover-bg-color: #007bff;
    --main-border-color: #e3e3e3;
    --main-border-radius: 0.5rem;
    --main-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    --gradient-from-color: #2a2a72;
    --gradient-to-color: #009ffd;
}

.products-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr)); 
    grid-gap: 20px;
    padding: 20px;
}