.product-container-detail {
  display: flex;
  box-sizing: border-box;
  align-items: normal;
  justify-content: left;
  gap: 80px;
  padding:40px 40px;
  background: var(--main-bg-color);
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
}

.product-image-container {
  width: 380px;
}

.product-image-container ul {
  margin-top: 20px;
  margin-left: 30px;
}

/* 🔹 Imagen */
.product-image-container img {
  width: 380px;
  height: auto;
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
}

/* 🔹 Product information */
.product-details {
  max-width: 500px;
}

h2 {
  color: var(--gradient-from-color);
  font-size: 28px;
  text-transform: uppercase;
}

.sku {
  font-size: 14px;
  color: var(--main-text-color);
  opacity: 0.7;
}

.features {
  margin-top: 10px;
  margin-left: 20px;
}

.description {
  margin-top: 10px;
  display: flex;
  font-size: 16px;
  color: var(--main-text-color);
  text-decoration: none;
  list-style-type: none;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.price {
  font-size: 30px;
  color: var(--gradient-to-color);
  font-weight: bold;
}

/* 🔹 Size selector */
.size-selector {
  margin-top: 20px;
}

.size-selector span {
  margin: 0px 20px 5px 50px;
  font-weight: bold;
}

.size-selector button {
  background: var(--gradient-from-color);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 5px;
  border-radius: var(--main-border-radius);
  cursor: pointer;
  transition: var(--main-transition);
}

.size-selector button.active {
  background: var(--gradient-to-color);
}

.size-selector button:hover {
  transform: scale(1.1);
}

/* 🔹 Selector de Cantidad */
.quantity-selector {
  margin: 15px 20px 5px 100px;
}

.quantity-selector span {
  margin: 0 10px;
  font-weight: bold;
}

.quantity-selector button {
  background: var(--gradient-from-color);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: var(--main-border-radius);
  cursor: pointer;
  transition: var(--main-transition);
}

.quantity-selector button:hover {
  background: var(--gradient-to-color);
}

/* 🔹 buttons */
.action-buttons {
  margin: 20px 0px 0px 85px;
}

.add-to-cart,
.buy-now {
  background: var(--gradient-from-color);
  color: white;
  border: none;
  padding: 12px 25px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: var(--main-border-radius);
  cursor: pointer;
  transition: var(--main-transition);
}

.add-to-cart:hover {
  background: var(--gradient-to-color);
}

.buy-now {
  background: var(--main-link-color);
}

.buy-now:hover {
  background: var(--main-link-hover-bg-color);
  color: var(--main-link-hover-color);
}

/* 🔹 Mensaje de Compra Segura */
.safe-checkout {
  margin-left: 130px;
  margin-top: 15px;
  font-size: 14px;
  color: var(--main-text-color);
  font-weight: bold;
}

/* 🔹 Responsive */
@media (max-width: 768px) {
  .product-container-detail {
      flex-direction: column;
      text-align: center;
      gap: 20px;
  }

  .product-image-container img {
      width: 100%;
      max-width: 300px;
  }

  .size-selector button {
      padding: 8px 15px;
  }

  .quantity-selector button {
      padding: 6px 12px;
  }

  .action-buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .add-to-cart,
  .buy-now {
      width: 100%;
  }
}
